main
{
    width: 30%;
    margin: auto;
    border-style:inset;
    box-shadow: 1px 1px 12px;
}

span
{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: grey;
}

#paco
{
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    line-height: 2;
}

img
{
    width: 125px;
    height: 100px;
    float: right;


}

.name
{
padding-left: 1em;
padding-right: 1em;
}
.details
{
    color: #cccccc;
    font-family: 'Anton', sans-serif;
    margin-bottom: 1em;
    margin-top: -1em;
}
.number
{
    float: right;
    margin: -1px;
    font-family: 'Poppins', sans-serif;
    padding-right: 1em;



}
.contact
{
    margin-top: 1em;
    font-family: 'Poppins', sans-serif;
    padding-left: 1em;
    border-style: none;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: #e6e6e6;
}
